/* Footer.css */

footer {
  text-align: center;
  padding: 1rem;
  background-color: #032199;
  color: white;
}

.name {
  font-size: 1.3rem;
  color: #ffffff;
}

.name a:hover {
  color: #8f9b26;
}

.icon {
  position: relative;
}

.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.transparent-icon {
  background-color: transparent;
  box-shadow: none;
}

.icon:hover::after {
  opacity: 1;
}