/* NavBar.css */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Exo+2:wght@300&family=Kanit:wght@300&family=Preahvihear&family=Roboto+Condensed&family=Shadows+Into+Light&display=swap');



.navbar a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.navbar a:hover {
  color: #8f9b26;
}

.searchevents {
  margin-left: 10px;
}

/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032199;
  padding: 10px 20px;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-button {
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #17013b;
  padding: 10px 20px;
  color: white;
}

.dropdown-content {
  position: absolute;
  font-size: small;
  top: 100%;
  right: 0;
  background-color: #17013b;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  
}

.dropdown-content div,
.dropdown-content button {
  display: block;
  width: 100px;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
  size: 12;
}

.signout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}


/*start ofSearchBar*/

.search-bar input[type="text"] {
  padding: 5px;
  border: #3012f3;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 15px;
}

.search-bar button {
  padding: 5px 10px;
  border:#3012f3;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/*End of SearchBar*/

