@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Exo+2:wght@300&family=Kanit:wght@300&family=Preahvihear&family=Roboto+Condensed&family=Shadows+Into+Light&display=swap');

.profilecontainer {
    display: flex;
    justify-content: center;
}

.profileUser, 
.profileEmail {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.profilecard {
    border: 2px solid #3498DB;
    border-radius: 8px;
    padding: 20px;
    width: 320px;
    background-color: #F9F9F9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #bfd0d0;
    box-shadow: 0px 4px 6px rgba(16, 100, 227, 0.778);
}

.profileheader {
    font-size: 30pt;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 25pt;
    padding:0;
    
}

.profile-event-header {
    font-family: 'Exo 2', sans-serif;
    font-size: 30pt;
    padding: 15pt;
    margin-top: 40pt;
}

/* .background {
    display: block;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      height: auto;
      background-position: center;
      background-image: url(../images/homepage-2.png);
  } */
.banner-img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
    padding: 0;
   background-image: url(../images/homepage-2.png);
}